
*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.game{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
}

button{
    padding: 5rem;
    color: black;
}